# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln

# Kafka
kafka_2.13-3.7.0/
kafka_2.13-3.7.0.tgz

# Python
venv/
__pycache__/
*.pyc
.env

kafka_2.13-3.7.0/
*.tgz