boto3
botocore
Faker
fastapi
httpx
jmespath
joblib
numpy<2.0.0
pandas<3.0
pydantic
python-dateutil
kafka-python-ng
s3transfer
scikit-learn
scipy
six
threadpoolctl
torch
urllib3
uvicorn
xgboost
feast
apache-airflow
